/* src/components/Header.css */
header {
    background: #000;
    padding: 1em;
  }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  .social-links a {
    margin: 0 10px; /* Adjust the value as needed */
  }
  