/* src/App.css */
.App {
  text-align: center;
  overflow: hidden;
}

/* src/components/Header.css */
header {
  background: #000;
  padding: 1em;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}