/* src/App.css */
.App {
  text-align: center;
  
}

/* src/components/Header.css */
header {
  background: #000;
  padding: 1em;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
